altgraph==0.17.4
amqp==5.3.1
asgiref==3.9.1
billiard==4.2.1
celery==5.5.3
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
distlib==0.4.0
Django
django-cors-headers
django-filter==25.1
django-mongodb-backend
djangorestframework
djangorestframework_simplejwt
djongo
dnspython==2.8.0
drf-yasg==1.21.10
filelock==3.18.0
inflection==0.5.1
kombu==5.5.4
mongoengine==0.29.1
packaging==25.0
pefile==2023.2.7
pillow==11.3.0
platformdirs==4.3.8
prompt_toolkit==3.0.52
psycopg2-binary==2.9.10
pur==7.3.3
pygame==2.6.1
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
PyJWT==2.10.1
pymongo
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.1
pytz==2025.2
pywin32-ctypes==0.2.3
PyYAML==6.0.2
redis==6.4.0
setuptools==80.9.0
six==1.17.0
sqlparse
tzdata==2025.2
uritemplate==4.2.0
vine==5.1.0
virtualenv==20.34.0
wcwidth==0.2.13
